<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body class="<%= user.color %>">
    <%- include("./partials/header") %>


   <main>
    <div>
        <p class="centro"><%= `${user.name} ,gracias por visitarnos!` %></p>
    </div>
   </main>


    <%- include("./partials/footer") %>
</body>
</html>